.all-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.card-wrapper {
  background-color: #e5e5e5;
  border-radius: 18px;
  padding: 20px;
  margin: 15px;
  justify-content: center;
  align-content: center;
}

.card-header {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.show-more-btn {
  background-color: blue;
  display: block !important;
  margin: 0 auto;
  width: 370px;
}

.hide-btn {
  align-items: center;
  background-color: orange !important;
  border: orange !important;
  margin: 0 auto;
  width: 370px;
}

.hidden {
  display: none !important;
}
.show-more-info {
  margin-top: 10px;
}
.btn-container {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.edit-btn {
  width: 140px;
}

.delete-btn {
  width: 140px;
}

.show-more-info {
  display: none;
}

.show-more-info.active {
  display: block;
}

.form-label {
  margin-top: 5px;
  padding-left: 15px;
}

.last-visit {
  margin-top: 10px;
  margin-left: 5px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  color: #212529;
  padding: 0.375rem 0.75rem;
}

.create-card {
  margin-top: 10px;
}

.d-none {
  display: none;
}
