.filter__form {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;

  width: 100%;
  background-color: white;
  box-shadow: -5px 5px 10px rgba($color: #000000, $alpha: 0.4);
  padding: 20px;
  margin-bottom: 20px;
}

.filter__search {
  text-align: left;
  border: 1px solid rgb(201, 201, 201);
  padding: 5px 10px 5px 3px;
  margin-left: 5px;
}

.filter__priority {
  margin-left: 5px;
}

.filter__status {
  margin-left: 5px;
}
